#imagem-peru{
          width: 200px;
}

.cabecalho{
      border: 3px;
      border-style: dashed;
      border-color: chocolate;
      background-color: crimson;
      columns: white
      margin: 50px;
} 
#icone{
       width: 50px;
       border-radius :15px
       border-style: double;