#imagem-peru{
          width: 200px;
}

.cabecalho{
      border: 3px;
      border-style: dashed;
      border-color: chocolate;
      background-color: crimson;
      color: white;
      margin: 50px;
} 
#icone{
       width: 50px;
       border: 5px;
       border-radius :15px
       border-color: brown;
       border-style: double;
}
#link-jamal{
      font-size: 20px;
      color: pink;
      text-decoration: none;
}